<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Spring_Day05_Listener_Filter</display-name>
  
  <context-param>
  	<param-name>welcome</param-name>
  	<param-value>Hello SSAFY</param-value>
  </context-param>
  
  <!-- MyFilter -->
  <filter>
  	<filter-name>MyFilter</filter-name>
  	<filter-class>com.ssafy.filter.MyFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-16</param-value>
  		
  	</init-param>
  	
  </filter>	 
  
  <!-- 모든 요청이 들어왔을 때 MyFilter를 처리한다. -->
  <filter-mapping>
  	<filter-name>MyFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <!-- MyFilter2 -->
  <filter>
  	<filter-name>MyFilter2</filter-name>
  	<filter-class>com.ssafy.filter.MyFilter2</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-16</param-value>
  		
  	</init-param>
  	
  </filter>	 
  
  <!-- 모든 요청이 들어왔을 때 MyFilter를 처리한다. -->
  <filter-mapping>
  	<filter-name>MyFilter2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
</web-app>